@use "sass:math";

@function rem($px, $base: 16) {
  @if math.unit($px) != "px" {
    @error "rem() expects px value, got #{inspect($px)}";
  }

  $pxValue: math.div($px, 1px);

  @return math.div($pxValue, $base) * 1rem;
}