@mixin up($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin down($size) {
  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


