@use '/src/styles/abstracts/functions' as *;

@mixin up($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin down($size) {
  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin minmaxH($min, $max) {
  min-height: rem($min);
  max-height: rem($max);
}

@mixin minmaxW($min, $max) {
  min-width: rem($min);
  max-width: rem($max);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


