$inputBorder: 1px solid #686868; 

$Base:	#71a0ff;
$Interactive:	#5d6aff;
$Hover:	#7c87ff;
$Disabled:	#B6B9D6;

$Accent:	#F2B6A0;
$Error:	#E38B8B;
$Success:	#8BC6A8;
$Bg: #FAFAFA;
$Text: #FAFAFA;
$Text-sec: #4d4d4d;

$BaseFont: "RethinkSans";